<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="defaultSuite" junit="false" parallel="methods">

    <test name="plain-multi-chunk">
        <parameter name="testFile" value="cirrus-app/target/test-classes/republic.mb.txt"/>
        <parameter name="dumpFile" value="cirrus-app/target/test-classes/republic.mb.dmp"/>

        <classes>
            <class name="pl.mmajewski.cirrus.tests.ContentAdapterImplPlainFileTest"/>
            <class name="pl.mmajewski.cirrus.tests.CirrusBasicAppTest"/>
            <class name="pl.mmajewski.cirrus.tests.ContentAccessorImplPlainBQueueTest"/>
        </classes>
    </test>

    <test name="plain-single-chunk">
        <parameter name="testFile" value="cirrus-app/target/test-classes/single.chunk.txt"/>
        <parameter name="dumpFile" value="cirrus-app/target/test-classes/single.chunk.dmp"/>

        <classes>
            <class name="pl.mmajewski.cirrus.tests.ContentAdapterImplPlainFileTest"/>
            <class name="pl.mmajewski.cirrus.tests.CirrusBasicAppTest"/>
            <class name="pl.mmajewski.cirrus.tests.ContentAccessorImplPlainBQueueTest"/>
        </classes>
    </test>

    <test name="no-file">
        <classes>
            <class name="pl.mmajewski.cirrus.tests.ClientDirectConnectionTest"/>
        </classes>
    </test>

</suite>

